<div class = "row">
    <div class="col-md-6">
        <h2>
            Todos
        </h2>
    </div>
</div>
<div class="container">
    <table class="table table-hover">
        <tbody>
        <tr ng-repeat="todo in todos" style="cursor:pointer">
            <td>
                <input type="checkbox" ng-model="todo.completed" ng-change="toggleTodo(todo)"/>
                <span>{{ todo.description }}</span>
            </td>
        </tr>
        </tbody>
    </table>
    <input class="form-control" placeholder="New task" type="text" ng-model="todoDescription" />
    <br />
    <button class="btn btn-primary" ng-click="addTodo(todo)">Add</button>
    <button class="btn btn-danger" ng-click="clearCompleted()">Clear Completed</button>
</div>
